*.log
*.jou
Vivado/.Xil/
Vivado/*.str
Vivado/genesyszu/
Vivado/zcu*/
Vivado/pynqzu/
Vivado/uzev/
Vitis/*_app/
Vitis/*_app_*/
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/embeddedsw/
Vitis/RemoteSystemsTempFiles/
PetaLinux/*_depth/
docs/build/
HLS/*/*/
Packages/
